# Composer
/vendor

# WordPress Core
/wordpress

# WordPress configuration
/wp-config.php

# Plugins
/content/plugins/akismet
/content/plugins/query-monitor


# Thèmes
/content/themes/twentytwenty

# wp-content
/content/languages
/content/upgrade
/content/uploads